.bx_category_box {
  padding-bottom: 20px;
}

.bx_category_title {
  width: 100%;
  padding: 1px 0;
  border-bottom: 1px dashed #888;
}

.bx_infomations {
  margin-left: 10px;
}

.bx_infomations dt {
  width: 80px;
  font-weight: bold;
  float: left;
  clear: both;
  height: 23px;
}

.bx_infomations dd {
  height: 23px;
}
