.bx-category-box {
  padding-bottom: 20px;
}

.bx-category-title {
  width: 100%;
  padding: 1px 0;
  border-bottom: 1px dashed #888;
}

.bx-informations {
  margin-left: 10px;
}

.bx-informations dt {
  width: 120px;
  font-weight: bold;
  float: left;
  clear: both;
  padding: 3px 0;
}

.bx-informations dd {
  margin-left: 120px;
  padding: 3px 0;
}

.bx-informations ul {
  margin :0;
  padding: 0;
}

.bx-informations ul li {
  padding: 1px 0;
}

.bx-resources {
  list-style: none;
}

.bx-resources li {
  padding: 4px;
}

.bx-hover {
  background-color: aliceblue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
