<%# coding: utf-8 %>
<% if resources.present? %>
<div class="bx-resources">
  <ul>
  <% resources.each do |resource| %>
    <li><%= link_to(resource.code, project_bx_resource_path(@project, resource)) %></li>
  <% end %>
  </ul>
</div>
  <% Bx.rendering_tree = true %>
<% end %>


